@tailwind base;
@tailwind components;
@tailwind utilities;
/* @plugin "daisyui" {
  themes: false;
}

/* DaisyUI + ShadCN theme support */
body {
  background-color: rgba(239, 239, 239, 0.673) !important;
  /* --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%; */
  /* ...rest of the vars... */
}

.icons {
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  padding: 10px;
}

.icons:hover {
  background-color: rgb(255, 255, 255);
  color: #005eb1;
  animation: ease-in-out 0.3s;
}
