@tailwind base;
@tailwind components;
@tailwind utilities;
@import "froala-editor/css/froala_editor.pkgd.min.css";
@import "froala-editor/css/froala_style.min.css";
@import "froala-editor/css/themes/gray.min.css";
@import "froala-editor/css/plugins/image.min.css";
@import "font-awesome/css/font-awesome.css";

/* @plugin "daisyui" {
  themes: false;
}



/* DaisyUI + ShadCN theme support */
body {
  background-color: rgba(239, 239, 239, 0.673) !important;
  /* --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%; */
  /* ...rest of the vars... */
}

main {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.icons {
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  padding: 10px;
}

.icons:hover {
  background-color: rgb(255, 255, 255);
  color: #005eb1;
  animation: ease-in-out 0.3s;
}
